body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

nav {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#intro {
  padding: 50px 0;
}

.card {
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn-large {
  border-radius: 50px;
}